<h2>login</h2>

<form action="/auth/login" method="POST" id="form-container">

  <label for="username">username</label>
  <input id="username" type="text" name="username" placeholder="DanaScully">

  <label for="password">password</label>
  <input id="password" type="password" name="password" placeholder="••••••••••••" readonly onfocus="if (this.hasAttribute('readonly')) {this.removeAttribute('readonly'); this.blur(); this.focus();}"/>

  <div class="messages">
    {{#if message}}
      <div class="error-message">{{message}}</div>
    {{/if}}
  </div>

  <button class="btn loginBtn">login</button>

  <p class="account-message">don't have an account yet? <a href="/auth/signup">signup</a></p>

</form>
