<h2>login</h2>

<form class="loginF" action="/auth/login" method="POST" id="form-container">

  <label for="username">username</label>
  <input id="username" type="text" name="username" placeholder="DanaScully">

  <label for="password">password</label>
  <input id="password" type="password" name="password" placeholder="••••••••••••" readonly onfocus="if (this.hasAttribute('readonly')) {this.removeAttribute('readonly'); this.blur(); this.focus();}"/>

  <div class="messages">
    {{#each messages}}
      <div class="error-message">{{this}}</div>
    {{/each}}
  </div>

  <button class="btn loginBtn">login</button>

  <p class="account-message"><span>don't have an account yet?</span> <span><a href="/auth/signup">signup</a> or <a href="/">go back</a></span></p>

</form>
