<h2>new account</h2>

<form action="/auth/signup" method="POST" id="form-container">

  <label for="username">username</label>
  <input id="username" type="text" name="username" placeholder="DanaScully">

  <label for="email">email</label>
  <input id="email" type="email" name="email" placeholder="icequeen@gmail.com">

  <label for="password">password</label>
  <input id="password" type="password" name="password" placeholder="••••••••••••" readonly onfocus="if (this.hasAttribute('readonly')) {this.removeAttribute('readonly'); this.blur(); this.focus();}"/>

  <div class="messages">
    {{#if message}}
      <div class="error-message">{{message}}</div>
    {{/if}}
  </div>

  <button class="btn signupBtn">signup</button>

  <p class="account-message">do you already have an account? <a href="/auth/login">login</a></p>

</form>
