<h2>new account</h2>

<form action="/auth/signup" method="POST" id="form-container">

  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="DanaScully">

  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="icequeen@gmail.com">

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password" readonly onfocus="if (this.hasAttribute('readonly')) {this.removeAttribute('readonly'); this.blur(); this.focus();}"/>

  {{#if message}}
    <div class="error-message">{{message}}</div>
  {{/if}}
  {{!-- {{#each messages}}
    <div class="error-message">{{this}}</div>
  {{/each}} --}}

  <button class="btn">signup</button>

  <p class="account-message">Do you already have an account?<a href="/auth/login">Login</a></p>

</form>
