<nav>
  <a href="/profile">prof</a> {{!-- Profile --}}
  <a href="#">sigh</a> {{!-- Sightings --}}
  <a href="/">map</a>
  <a href="#">evs</a> {{!-- Events/forum --}}
  <a href="#">rots</a> {{!-- Routes --}}
</nav>
