<nav>
  <a href="/profile" {{#if profile}}class="active"{{/if}}><span class="x-profile">{{!-- profile --}}</span></a>
  <a href="/phenomena" {{#if phenomenon}}class="active"{{/if}}><span class="x-sighting">{{!-- sightings --}}</span></a>
  <a href="/map" {{#if map}}class="active"{{/if}}><span class="x-map">{{!-- map --}}</span></a>
  <a href="#" {{#if events}}class="active"{{/if}}><span class="x-events">{{!-- events/forum --}}</span></a>
  <a href="/routes" {{#if routes}}class="active"{{/if}}><span class="x-routes">{{!-- routes --}}</span></a>
</nav>
