<nav>
  <a href="#"><span class="x-profile">{{!-- Profile --}}</span></a>
  <a href="#"><span class="x-sighting">{{!-- Sightings --}}</span></a>
  <a href="#"><span class="x-map">{{!-- Map --}}</span></a>
  <a href="#"><span class="x-events">{{!-- Events/forum --}}</span></a>
  <a href="#"><span class="x-routes">{{!-- Routes --}}</span></a>
</nav>
