<nav>
  <a href="#">Prof</a> {{!-- Profile --}}
  <a href="#">Sigh</a> {{!-- Sightings --}}
  <a href="#">Map</a>
  <a href="#">Evs</a> {{!-- Events/forum --}}
  <a href="#">Rots</a> {{!-- Routes --}}
</nav>
