<nav>
  <a href="/profile"><span class="x-profile">{{!-- profile --}}</span></a>
  <a href="#"><span class="x-sighting">{{!-- sightings --}}</span></a>
  <a href="/map"><span class="x-map">{{!-- map --}}</span></a>
  <a href="#"><span class="x-events">{{!-- events/forum --}}</span></a>
  <a href="#"><span class="x-routes">{{!-- routes --}}</span></a>
</nav>
