<nav class="initialMenu">
  {{!-- <a class="btn btnFcb" href="/auth/facebook">facebook</a>
  <a class="btn btnGgl" href="/auth/google">google</a> --}}
  <div class="groupMenu">
    {{!-- <a class="btn btnLogin btnLoginHeroku" href="/auth/login">login</a> --}}
    <a class="btn btnLogin" href="/auth/login">login</a>
    <a class="btn btnSignup" href="/auth/signup">signup</a>
  </div>
</nav>