
<nav class="initialMenu">
  <a class="btn btnFcb" href="/auth/facebook">Facebook</a>
  <a class="btn btnGgl" href="/auth/google">Google</a>
  <div class="groupMenu">
    <a class="btn btnLogin" href="/auth/login">Login</a>
    <a class="btn btnSignup" href="/auth/signup">Signup</a>
  </div>
</nav>
