<div class="phCard">

  <div class="phType">
    <img src="./images/markers/big/{{this.type}}.png" alt="">
  </div>

  <div class="phInfo">
    <div class="phInfoFavs"></div>

    <div class="phInfoName">
      <h5>{{this.name}}</h5>
    </div>

    <div class="phInfoTypeRoutes">
      <p>400m</p>
      <p>|</p>
      <p>{{this.type}}</p>
      <p>|</p>
      <p>difficulty</p>
    </div>
  </div>

  <div class="phDetail">
    <a href="/phenomena/{{this._id}}"><i class="x-back"></i></a>
  </div>

</div>