<div class="phenomenonCard">
  <h4>{{this.name}}</h4>
  <img src={{this.imgPhenomUrls.[0]}} alt="" width="80%">
  {{!-- <p>{{this.description}}</p> --}}

  <a href="/phenomena/{{this._id}}">View More</a>

</div>