<div class="routeCard">
  <img class="routeImg" src="images/avatars/addimg.png" alt="">
  <div class="infoRouteDetails">
    <div class="routeText">
      <p class="routeId">{{this._id}}</p>
      <p class="favorites"><span class="x-favorite heart"></span><span class="favNum"> 14</span></p>
    </div>
    <h4 class="routeTitle">{{this.routetitle}}</h4>
    <div class="routeDetails">
      <p class="distance">10km</p><p class="separator">|</p><p class="difficulty">hard</p><p class="separator">|</p><p class="creator"></p>
    </div>
  </div>
  <a class="goRoute" href="/routes/{{this._id}}"><span class="x-back"></span></a>
</div>
