
{{#if map}}
  <nav>
    <form class="search">
      <button class="mGlass" id="mGlass" href="#"><span class="x-search">{{!-- search --}}</span></button>
      <input id="searchInput" type="text" placeholder="search...">
    </form>
    <div class="actions">
      <a href="#"><span class="x-filters">{{!-- filters --}}</span></a>
      <a href="/auth/logout"><span class="x-logout">{{!-- logout --}}</span></a>
    </div>
{{else}}
  <nav class="right">
    <div class="actions">
      <a href="/auth/logout"><span class="x-logout">{{!-- logout --}}</span></a>
    </div>
  </nav>
{{/if}}
