<h1 class="mainTitle">{{title}}</h1>
{{> initial_menu}}

{{!-- <video autoplay muted loop id="initialVideo">
  <source src="rain.mp4" type="video/mp4">
</video> --}}
{{!-- <iframe id="initialVideo" src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&autohide=1" frameborder="0" allowfullscreen></iframe> --}}
<div class="backImg"></div>
