<h1 class="infoTitle">About</h1>

<div class="infoSections">
  <div class="section sectionProfile">
    <h3 class="sectionTitle"><span class="x-profile"></span><span class="text">Profile</span></h3>
    <p>User profile, edit your details, change username, email or profile picture</p>
    <p>Add a caption and description if you wish!</p>
  </div>

  <div class="section sectionPhenomena">
    <h3 class="sectionTitle"><span class="x-sighting"></span><span class="text">Phenomena</span></h3>
    <p>View the last phenomenon added, go to the detail</p>
    <p>Add to favourite</p>
    <p>Register the visit of the Phenomenon, only with geolocation</p>
    <p>Leave a comment for the rest of the community</p>
  </div>

  <div class="section sectionMap">
    <h3 class="sectionTitle"><span class="x-map"></span><span class="text">Map</span></h3>
    <p>View all the phenomena around the world</p>
    <p>Filter by type of phenomena</p>
    <p>Post new phenomena</p>
    <p>Add up to 4 images for the new phenomena</p>
  </div>

  <div class="section sectionRoutes">
    <h3 class="sectionTitle"><span class="x-routes"></span><span class="text">Routes</span></h3>
    <p>View the last routes to visit phenomena</p>
    <p>Add new routes and save them</p>
    <p>Leave a comment for the rest of the community</p>
  </div>

  <div class="section sectionAPI">
    <h3>wannabelieve API</h3>
    
    <h4>Get all phenomena</h4>
    <p><a href="/api/getAllPhenomena">/api/getAllPhenomena</a></p>

    <h4>Get phenomena by type</h4>
    <p class="apiRoute"><a href="/api/getFantasticAnimals">/api/getFantasticAnimals</a></p>
    <p class="apiRoute"><a href="/api/getSeaCreatures">/api/getSeaCreatures</a></p>
    <p class="apiRoute"><a href="/api/getExtraterrestrials">/api/getExtraterrestrials</a></p>
    <p class="apiRoute"><a href="/api/getUfos">/api/getUfos</a></p>
    <p class="apiRoute"><a href="/api/getGhosts">/api/getGhosts</a></p>
    <p class="apiRoute"><a href="/api/getWeirdStuff">/api/getWeirdStuff</a></p>
    <p class="apiRoute"><a href="/api/getPsychophonies">/api/getPsychophonies</a></p>
    <p class="apiRoute"><a href="/api/getParanormal">/api/getParanormal</a></p>
    <p class="apiRoute"><a href="/api/getSignals">/api/getSignals</a></p>
    <p class="apiRoute"><a href="/api/getHalfHuman">/api/getHalfHuman</a></p>
    <p class="apiRoute"><a href="/api/getReligiousApparitions">/api/getReligiousApparitions</a></p>
    <p class="apiRoute"><a href="/api/getNaturalPhenomena">/api/getNaturalPhenomena</a></p>
    <p class="apiRoute"><a href="/api/getAbandonedPlaces">/api/getAbandonedPlaces</a></p>
    <p class="apiRoute"><a href="/api/getUnclassified">/api/getUnclassified</a></p>
  
  </div>


  <div class="section sectionCredits">
    <h3>Coded with love and unicorn magic by:</h3>

    <p><span>🦄</span><a href="https://www.linkedin.com/in/aemartos/" target="_blank"> Ana Estrada</a></p>
    <p><span>🧝🏼‍</span><a href="https://www.linkedin.com/in/tromerolozano/" tarjet="_blank">Teresa Romero</a></p>

  </div>



</div>