<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <link rel="stylesheet" type="text/css" href="/javascripts/vendor/owl-carousel/owl.carousel.min.css"/>
  <link rel="stylesheet" type="text/css" href="/javascripts/vendor/owl-carousel/owl.theme.default.css"/>
</head>

<body>

  <script>
    if(!/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) && !localStorage.getItem("alertShown")) {
      localStorage.setItem("alertShown", true);
      window.alert('This app has been design to mobile! It will be a better experience if you see it that way. ;)');
    }
  </script>


  <div class="container cont_{{actual_page}}">
    {{{body}}}
  </div>

  {{#if user}}
  <header>
    {{> top_menu}}
  </header>
  <footer>
    {{> bottom_menu}}
  </footer>
  {{/if}}


</body>

</html>
