<script>
  window.phenomena = {{{phenomena}}};
  window.searchBoxActive = true;
  window.alerted = false;
  window.realTimeLocation = false;
</script>

<div class="mainMap" id="mainMap"></div>

<div class="mapOptions">
  <button class="findMe" id="findMeBtn"><span class="x-geolocation"></span></button>
  <button class="layers" id="layersBtn"><span class="x-layers"></span></button>
</div>

<div class="mapZoom">
  <button class="zoomIn" id="zoomInBtn"><span class="x-plus"></span></button>
  <button class="zoomOut" id="zoomOutBtn"><span class="x-minus"></span></button>
</div>

<div class="addPhenom">
  <a href="/phenomena/new" class="addPBtn"><span class="x-plus"></span></a>
</div>

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDALLA4IgWrHmR_9IiIAhCE6-keEuJks34"></script>
<script src="/javascripts/map/mapHelpers.js"></script>
<script src="/javascripts/map/markers.js"></script>
<script src="/javascripts/map/geolocate.js"></script>
<script src="/javascripts/map/mapActions.js"></script>
<script src="/javascripts/map/mapStyles.js"></script>
<script src="/javascripts/map/map.js"></script>
