<script>window.phenomena = {{{phenomena}}}</script>

<div class="mainMap" id="mainMap"></div>

<div class="mapOptions">
  <button class="findMe"><span class="x-geolocation"></span></button>
  <button class="layers"><span class="x-layers"></span></button>
</div>

<div class="mapZoom">
  <button class="zoomIn"><span class="x-plus"></span></button>
  <button class="zoomOut"><span class="x-minus"></span></button>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDALLA4IgWrHmR_9IiIAhCE6-keEuJks34"></script>
<script src="/javascripts/markers.js"></script>
<script src="/javascripts/geolocate.js"></script>
<script src="/javascripts/mapStyles.js"></script>
<script src="/javascripts/map.js"></script>
