<script>window.phenomena = {{{phenomena}}}</script>


<div class="mainMap" id="mainMap"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDALLA4IgWrHmR_9IiIAhCE6-keEuJks34"></script>
<script src="/javascripts/geolocate.js"></script>

<script src="/javascripts/markers.js"></script>
<script src="/javascripts/script.js"></script>
<script src="/javascripts/home.js"></script>

