<div class="slider">

</div>


<div class="phHeader">
  <div class="phTitle"></div>
  <div class="phTypeDate"></div>
</div>
<div>
  <div class="phFavReg">
    <div class="phFavourite"></div>
    <div class="phRegister"></div>
  </div>
  <h1>{{phenomenon.name}}</h1>
  <p>{{phenomenon.description}}</p>
  {{#each phenomenon.imgPhenomUrls}}
  <img src={{this}} alt="" width="80%">
  {{/each}}
</div>