<h1>Create new Fenomenon</h1>


<div class="container">
  <form action="/addPhenomenon" method="post">
    {{!-- <div class="custom-file">
      <input type="file" class="custom-file-input" name="imgPhenomenon">
      <label class="custom-file-label" for="imgPhenomenon">Select Image</label>
    </div> --}}

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" rows="3" name="name"></input>
    </div>

    <div class="form-group">
      <label for="type">Type</label>
      <select name="type" class="form-control">
        <option>cat1</option>
        <option>cat2</option>
      </select>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" rows="3" name="description"></textarea>
    </div>

    <button type="submit">Add</button>
  </form>

</div>