.container
  position: relative
  justify-content: space-around
  .mainTitle
    z-index: 1
  .initialMenu
    z-index: 1
    width: 70%
    margin: 0 auto
    text-align: center
    font-weight: bold
    a
      display: block
      margin-top: .5em
    .groupMenu
      margin-top: .1em
      a
        width: 48%
        display: inline-block
  #initialVideo
    position: absolute
    right: 0
    bottom: 0
    min-width: 100%
    min-height: 100%
    z-index: 0
