.container
  &.cont_map_page
    position: relative
    .mainMap
      background-color: $darkbg
      height: 100%
      width: 100%
      //color: $menubg
      .gmnoprint
        display: none
      .gm-style-iw
        background-image: url("../../images/windows/infowbg.png")
        background-position: center
        //background-size: cover
        background-size: contain
        font-size: 0.6em
        width: 50em !important
        height: 9.3em !important
        left: -6.7em !important
        top: 4em !important
        .infoPhenom
          width: 50em
          padding: 1em
          > *
            width: 50em
      .gm-ui-hover-effect
        color: $maincolor !important
        top: 2em !important
        right: -2em !important
        z-index: 1000 !important
    .mapOptions, .mapZoom
      position: absolute
      background: $menubg
      border: 4px solid $maincolor
      padding: .5em
      button
        background: transparent
        color: $maincolor
        font-size: 1.5em
        outline: 0
        border: 0
        padding: 0
        cursor: pointer
        &.findMe
          margin: .15em 0 .3em 0
        &.zoomIn
          margin-right: .5em
    .mapOptions
      top: 1em
      left: 1em
      +column-flex
      justify-content: space-between
    .mapZoom
      bottom: 1em
      right: 1em
      +row-flex
      justify-content: space-between
      padding-bottom: .3em
