.container
  &.cont_phenomena_detailPage
    +column-flex
  .slider
    +row-flex
    width: 100%
    border-bottom: 4px solid white
    img 
      width: 100%
  .phHeader
    +column-flex
    border-bottom: 4px solid white
    width: 100%
    .phTitle
      +row-flex
      justify-content: center
      width: 100%
    .phTypeDate
      +row-flex
      font-size: 0.5em
      padding: 0.5% 5%
  .phFavReg
    +row-flex
    justify-content: space-around
    width: 100%
    padding: 2% 10%
    font-size: 1.5em
    border-bottom: 4px solid white
    .phFavourite
  .phBody
    +column-flex
    width: 100%
    .phCreator
      +row-flex
      justify-content: center
      width: 100%
      font-size: 0.7em
      border-bottom: 4px solid white
      padding: 3% 5%
    .phDescription
      +row-flex
      padding: 2% 2%
      border-bottom: 4px solid white
    .phReviews
      +column-flex