.container
  &.cont_phenomena_detailPage
    color: $menubg
    word-spacing: -.3em
    span[class*='x-']
      color: $menubg
      font-size: 1.5em
      -webkit-text-stroke: .3px $menubg
      text-transform: uppercase
      &:active
        color: $secondarycolor
        &[class*='x-']
          -webkit-text-stroke: .3px $secondarycolor
    .slider
      //+row-flex
      border-bottom: 4px solid white
      padding: 0 0
      // .sliderImage
      //   width: 100%
      //   //max-height: 18em
      //   height: 18em
      //   overflow: hidden
      &.owl-carousel
        &.owl-theme
          .owl-item
            img
              width: 100%
              height: 18em
              object-fit: cover
          .owl-nav.disabled + .owl-dots
            position: absolute
            bottom: .5em
            left: 50%
            +transform(translateX(-50%))
    .section
      width: 100%
      padding: 1.2em 0
      border-bottom: 4px solid $maincolor
      text-transform: lowercase
      p
        width: 85%
        margin: 0 auto
      &.sectionBtn
        padding: 0
        +row-flex
        justify-content: center
        background-color: $darkbg
        p, .favouritePhenom, .registerPhenom
          +row-flex
          justify-content: center
          font-size: .8em
          width: 50%
          padding: .8em 0
          &:first-child
            border-right: 4px solid $maincolor
          span
            margin-right: .5em
            &.active
              color: $secondarycolor
        .favouritePhenom,.registerPhenom
          form
            +row-flex
            justify-content: center
            button
              width: auto
              border: 0
              padding: 0
              margin: 0
              span
                &.active
                  color: $secondarycolor
                  &[class*='x-']
                    -webkit-text-stroke: .3px $secondarycolor
        p.favourite
          span[class*='x-']
            &.active
              color: $secondarycolor
              -webkit-text-stroke: .3px $secondarycolor
      &.firstSection
        .mainTitle
          line-height: 1.2em
        .phenomMainInfo
          width: 85%
          text-align: left
          +row-flex
          justify-content: center
          margin: 0 auto
          h4
            margin: 0
            margin-right: 1em
            //font-size: .9em
            width: 78%
            &.alone
              width: 85%
              text-align: center
              margin-right: 0
          .actions
            +row-flex
            justify-content: space-between
            width: 17%
            text-transform: uppercase
            font-size: 1.5em
            a
              color: $menubg
              i
                -webkit-text-stroke: .3px $menubg
            //width: 4em
        .typePhenomenon
          margin-top: .5em
        .discoveredOn,.typePhenomenon
          font-family: 'Share Tech Mono'
          word-spacing: 0
          //width: 82%
          font-size: .8em
          opacity: .5
          &.alone
            text-align: center
            margin-top: .5em
      .messages
        word-spacing: 0
        font-family: 'Share Tech Mono'
        font-size: .8em
        text-align: center
        .error-message
          padding: .5em 0 0
          opacity: .5
          text-transform: lowercase
          color: #F25652
      &.sectionOtherBtns
        +row-flex
        justify-content: space-between
        padding: 0
        font-size: .8em
        background-color: $darkbg
        .ATR, .VIM
          +row-flex
          justify-content: center
          width: 50%
          &:first-child
            border-right: 4px solid $maincolor
        .addToRouteBtn, .viewInMapBtn
          padding: .8em
          width: 100%
          +row-flex
          justify-content: center
          color: $menubg
          span
            &.routesBtn, &.mapBtn
              margin-right: .5em

      &.secondSection
        .discoveredBy
          +row-flex
          flex-flow: row wrap
          justify-content: flex-start
          //text-align: center
          .username
            opacity: .5
            font-size: .8em
            line-height: 1.4em
      &.thirdSection
        .text
          margin-top: .5em
          opacity: .5
          font-size: .8em
          line-height: 1.4em
      &.fourthSection, &.fifthSection
        p
          +row-flex
          justify-content: space-between
          span
            &[class='x-back']:before
              +transform(rotate(-90deg))
            &:active
              color: $menubg
              &[class*='x-']
                -webkit-text-stroke: .3px $menubg
      &.fourthSection
        .routes
          //margin-bottom: 1em
          #expandRoutes
            &.rotate
              +transform(rotate(90deg))
        ul
          &#routesAccordion
            width: 85%
            margin: 0 auto
            li
              &.route
                //font-family: 'Share Tech Mono'
                font-size: .8em
                margin-bottom: .5em
                &.noRoute
                  opacity: .5
                &:last-child
                  margin-bottom: 0
                a
                  +row-flex
                  justify-content: flex-start
                  color: $menubg
                  span
                    opacity: .5
                    &.routesIcon
                      margin-right: .5em
      &.fifthSection
        border: 0
        padding-bottom: 0
        .comments
          #expandComments
            &.rotate
              +transform(rotate(90deg))
        #commentsAccordion
          width: 85%
          margin: 0 auto
          .comment, .route
            +row-flex
            align-items: flex-start
            justify-content: space-between
            margin-bottom: .8em
            padding-bottom: .8em
            border-bottom: .5px solid $darkbg
            &.noComment, &.noRoute
              opacity: .5
              font-size: .8em
            &:last-child
              border-bottom: 0
            .metaData
              +column-flex
              align-items: flex-start
              width: 17em
              padding-top: .2em
              font-family: 'Share Tech Mono'
              font-size: .6em
              word-spacing: 0
              .author
                margin-top: .3em
                opacity: .5
            .commentContent, .routeTitle
              margin-right: .8em
              font-size: .8em
              opacity: .5
            .deleteBtn
              width: max-content
              font-size: .7em
      &.addCommentSection
        padding-top: 0
        border: 0
        form
          &.addComment
            width: 85%
            margin: 0 auto
            margin-top: 1em
            .commentBox
              +row-flex
              justify-content: space-between
              textarea
                border: 0
                border: 1.5px solid $menubg
                padding: 1em
                margin: 0
                margin-top: .5em
                margin-right: 1em
                //width: 85%
                height: 6em
                color: $menubg
                //text-align: center
                &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus
                  -webkit-box-shadow: 0 0 0px 1000px $background inset
              ::-webkit-input-placeholder /* Chrome/Opera/Safari */
                color: $menubg
                opacity: .5
              ::-moz-placeholder /* Firefox 19+ */
                color: $menubg
                opacity: .5
              :-ms-input-placeholder /* IE 10+ */
                color: $menubg
                opacity: .5
              :-moz-placeholder /* Firefox 18- */
                color: $menubg
                opacity: .5
              button
                &.addCommentBtn
                  border: 0
                  padding: 0
                  margin: 0
                  width: unset
                  span
                    font-size: 2em
                    &:active
                      color: $secondarycolor
        
