//----------- GENERAL ------------

*
	+box-sizing(border-box)
	outline: none
	+no_select_text

input
	+select_text(initial)

html, body
	height: 100%
	width: 100%
	color: white
	background-color: $background
	font-family: 'Press Start 2P'
	//font-family: helvetica, monospace
	//font-weight: bold
	padding: 0
	margin: 0
	//overflow: hidden

body
	+column-flex
	justify-content: center
	border: 4px solid white

.container
	width: 100%
	height: max-content
	min-height: calc(100% - 6em)
	+column-flex
	.content
		width: 80%

.btn
	border: 2px solid $secondarycolor
	padding: .6em
	//border-radius: 3em
	&.btnLogin
	&.btnSignup
		color: $darkgreenn
		background-color: $secondarycolor
	&.btnFcb
		color: $darkgreenn
		border: 2px solid $facebook
		background-color: $facebook
	&.btnGgl
		color: $darkgreenn
		border: 2px solid $google
		background-color: $google

a
	display: inline-block
	text-decoration: none
	color: $secondarycolor
	cursor: pointer
	+transition_default
	&:hover
		+hover_opacity

ul
	padding: 0
	list-style-type: none

p
	margin: 0

.show
	display: block

.hide
	display: none !important


//------------ RESPONSIVE VIDEOS ---------

.responsive_video
	position: relative
	padding-bottom: 56.25%
	height: 0
	width: 100%
	height: 100%
	margin: 1em auto
	iframe
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

//----------SCROLLBAR ADJUSTMENTS------------

::-webkit-scrollbar
	width: .45em
	height: .45em

::-webkit-scrollbar-track
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)

::-webkit-scrollbar-thumb
	background-color: $secondarycolor
	outline: 1px solid slategrey
	border-radius: 5em
